.stats {
    margin-bottom: 20px;
    font-size: 14px;
}

.stats table {
    table-layout: fixed;
    width: 100%;
    color: #1f2122;
}

.stats thead {
    background-color: #f5d276;
}

.stats th {
    border: 2px solid;
    padding: 1rem;
}

.stats td {
    border: 2px solid;
    padding: 0.5rem;
    background-color: #fffaeb;
}