*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #f5d276;
    text-decoration: none;
}

a:visited {
    color: #f5d276;
}

a:hover {
    color: #f5d276;
    text-decoration: underline;
}

a:focus {
    color: #f5d276;
}

a:active {
    color: #f5d276;
}

:root {
    background-color: #1f2122;
    color: #f5d276;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-family: Graduate;
    text-align: center;
}